{% extends "page.html" %}
{% set homepage_style = ( g.homepage_style or '1' ) %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block content %}
  <div class="homepage">
    <div class="hero">
      <div class="container-fluid">
        <div class="flash-messages">
          {{ self.flash() }}
        </div>
        <div class="row-fluid">
          <div class="span6 offset3">
            {% block primary_content %}
              <header>
                {% if intro %}
                  {{ h.render_markdown(intro) }}
                {% else %}
                  <h2>{% trans %}Satellite data, resources, and applications at your fingertips</h2>
                  <h3>Explore, Examine, Engage</em></strong> {% endtrans %}</h3>
                {% endif %}
              </header>
              <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
                <h3 class="heading">{{ _("Search by keyword") }}</h3>
                <div class="search-input control-group search-giant">
                  <input id="search" type="text" class="search" name="q" value="" autocomplete="off" placeholder="{{ _('Hello, what would you like to search for?') }}" />
                  <button type="submit">
                    <i class="fa fa-search"></i>
                    <span>{{ _('Search') }}</span>
                  </button>
                </div>
              </form>
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% resource 'satellites-theme/autocomplete' %}
  {% resource 'satellites-theme/jqueryui/css/satellites-theme/jquery-ui.css' %}
{% endblock %}
